body {
    display: grid;
    grid-template-rows: auto;
    gap: 5px;
}

#header {
    background: rgb(95, 95, 95);
    text-align: center;
}

#form {
    background: rgb(175, 175, 175);
    text-align: center;

}
#label {

}
#searchType {

}
#searchInput {

}
#searchSubmit {

}

#searchResults {
    background: rgb(95, 95, 95);
    text-align: center;
    display: none;
} 
#filler {
    background: rgb(95, 95, 95);
    display: grid;
}
#films {
    background: rgb(95, 95, 95);
    display: grid;

}
#people {
    background: rgb(95, 95, 95);
    display: grid;

}
#planets {
    background: rgb(95, 95, 95);
    display: grid;

}
#species {
    background: rgb(95, 95, 95);
    display: grid;

}
#starships {
    background: rgb(95, 95, 95);
    display: grid;

}
#vehicles {
    background: rgb(95, 95, 95);
    display: grid;

}

#footer {
    background: rgb(175, 175, 175);
    text-align: center;

}